* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Gilroy-Medium', sans-serif;
    src: url(./fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Gilroy-Bold', sans-serif;
    src: url(./fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy-Semibold', sans-serif;
    src: url(./fonts/Gilroy-Semibold.ttf);
}

a { 
    text-decoration: none; 
    font-family: "Open Sans", Arial;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1220px;
    margin: auto;
    width: 80%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100px;
}

.logo {
    height: 50px;
}

.red_text {
    color: rgba(242, 88, 34, 1);
}

.title_h2 {
    margin-left: 25px;
    font-size: 40px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    width: 600px;
    height: 50px;
}

.menu_link {
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-family: 'Gilroy-Semibold', sans-serif;
    font-weight: 500;
}

.menu_link:hover {
    color: rgba(242, 88, 34, 1);
}

.intro_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 550px;
}

.intro_text_block {
    display: flex;
    height: 517px;
    width: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.intro_textH1 {
    font-size: 60px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.intro_text {
    font-size: 25px;
    color: rgba(136, 136, 136, 1);
    font-family: 'Gilroy-Medium', sans-serif;
}

.button_cont {
    display: flex;
    height: 85px;
    width: 330px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.button {
    height: 50px;
    width: 150px;
    border: 1px solid rgba(242, 88, 34, 1);
    border-radius: 25px;
    color: white;
    background-color: rgba(242, 88, 34, 1);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gilroy-Bold', sans-serif;
}

.button_text {
    font-size: 24px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: bold;
    color: rgba(170, 170, 170, 1);
}

.main_pic {
    height: 400px;
}

.brands {
    display: flex;
    height: 170px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
}

.brands_logos {
    height: 50px;
}

.articles_cont {
    height: 490px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
}

.article {
    height: 290px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.article_shadow {
    box-shadow: 25px 30px 25px 25px rgba(0, 0, 0, 0.05);
}

.icon {
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.icon_color1 {
    background-color: rgba(242, 88, 34, 0.25);
}

.icon_color2 {
    background-color: rgba(20, 146, 17, 0.28);

}

.icon_color3 {
    background-color: rgba(255, 205, 29, 0.24);
}

.icons {
    height: 30px;
}

.articles_title {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gilroy-Bold', sans-serif;
}

.article_text {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: rgba(102, 102, 102, 1);
}

.article-link {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gilroy-Bold', sans-serif;
}

.advantages_cont {
    background: rgba(250, 250, 250, 1);
    height: 920px;
    display: grid;
    grid-template-columns: 1220px;
    grid-template-rows: 250px 600px;
    gap: 25px;
    justify-content: center;
}

.advantages_block1 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.advantages_block2 {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    justify-content: space-around;
    background: rgba(250, 250, 250, 1);
}

.adv_title {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Gilroy-Bold', sans-serif;
}

.adv_text {
    font-size: 16px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: rgba(102, 102, 102, 1);

}

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    justify-content: flex-start;
}

.adv_shadow {
    box-shadow: 25px 30px 25px 25px rgba(0, 0, 0, 0.05);
}

.adv_pic {
    height: 275px;
    margin-top: 20px;
}

.adv_title1 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gilroy-Bold', sans-serif;
    margin-top: 20px;
}

.adv_text1 {
    font-size: 16px;
    font-family: 'Gilroy-Bold', sans-serif;
    margin-top: 40px;
    margin-bottom: 50px;
}